<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <div class="profile">
      <section class="user_profile">
        <%= render 'shared/user_info' %>
      </section>
        <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>
      <section class="micropost_form">
        <h1>新規作成</h1>
        <%= render 'shared/micropost_form' %>
      </section>
      <section class="all_tags">
      </section>
    </aside>
    <div class="col-md-8">
      <h3 style="margin-left:39px;">新着アイディア一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="main-visual">
  <h1>イメージを言葉に</h1>
  <h2>ライターのためのアイディア共有サービス Scribble</h2>
</div>
<div class="col-md-12">
  <p class="index">みんなの作品</p>

<% @feed_item.each do |i| %>
<div class="idea">
  <div class="idea-info">
    <div class="post-icon">
    <%= link_to gravatar_for(i.user, size: 50), i.user %>
    </div>
    <div class="user-name">
    <%= link_to i.user.name, i.user %>
    </div>
  </div>
  <div class="idea-content">
    <div class="idea-text">
    <h1><%= i.title %></h1>
    <p><%= i.content %></p>
    </div>
    <%= image_tag i.picture.url if i.picture? %>
    <div class="timestamp">
      Posted <%= time_ago_in_words(i.created_at) %> ago.

      <% if current_user?(i.user) %>
      <%= link_to "削除", i, :method => :delete,
                                         data: { confirm: "本当に削除しますか？" } %>
      <% end %>

        <%= link_to 'コメント', micropost_path(i.id) %>
    </div>
  </div>
</div>

<% end %>
</div>


<div class ="read-more">
  <p>もっと読みたい方は<%= link_to "ログイン", login_path %></p>
</div>

            <% end %>
