<div class="col-md-4">
  <%= form_for(@comment, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object%>
    <div class="field">
      <%= hidden_field_tag 'id', @micropost.id %>
      <%= f.text_area :comment, placeholder: "本文を入力してください"%>
    </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>
</div>


  <div class="idea" >
    <% @comments.each do |c| %>
      <% user = User.find(c.user_id)  %>
        <span class="idea-info">
        <%= link_to gravatar_for(user, size: 50), user %>
        <%= link_to user.name, user %></span>
        <span class="idea-content">
          <span class="idea-text"><%= c.comment %></span>
          <span class="timestamp">Commented <%= time_ago_in_words(c.created_at) %> ago.</span>
        </span>
    <% end %>
  </div>
